body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #050505;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #333333;
    /* padding: 40px; */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h1 {
    color: #fff;
    margin-bottom: 20px;

    
    font-size: 24px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
}

input:focus {
    border-color: #007BFF;
}


button {
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.heading{
    font-size: 30px;
}

/* Tablet */
@media (max-width: 768px) { 
    .container {
        padding: 30px; 
    }
    h1 {
        font-size: 28px; 
    }
}

/* Mobile Styles */
@media (max-width: 480px) { 
    .container {
        padding: 20px; 
        max-width: 90%; 
    }
    h1 {
        font-size: 24px; 
    }
    input, button {
        font-size: 14px;
    }
}

/* Tablet Styles */
@media (min-width: 481px) and (max-width: 768px) { 
    .container {
        padding: 30px; 
    }
    h1 {
        font-size: 28px; 
    }
}

/* Laptop Styles */
@media (min-width: 769px) and (max-width: 1024px) { 
    .container {
        padding: 40px; 
        max-width: 70%; 
    }
    h1 {
        font-size: 30px; 
    }
    input, button {
        font-size: 16px;
    }
}

/* Desktop Styles */
@media (min-width: 1025px) { 
    .container {
        padding: 50px; 
        max-width: 400px; 
    }
    h1 {
        font-size: 32px; 
    }
}