@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/violet.css';
body {
    @apply leading-[normal] m-0;
    margin: 0;
      padding: 0px 20px;
      /* display: flex;
      align-items: center;
      justify-content: center; */


      background-color: black;
      height: 100vh; /* Ensure the body takes the full height of the viewport */
  }
  *,
  ::before,
  ::after {
    border-width: 0;
  }
.bgcontainer{
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  
}
.titlecard {
  width: calc(100%-20px);
  margin: 20px;
  float: left;
  /* Additional styling for the card */
  background-color: #1D1D1D;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  color: #CFC354;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: calc(100vh - 40px); /* 100vh minus 20px top margin and 20px bottom margin */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 105px;
  font-family: Della Respira;
}
.logincard {
  width: 100%;
  float: left;
  background-color: #5DBE74;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  color: #22472B;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;

  align-items: center;
  text-align: center;
  font-size: 40px;
  font-family: spartan;
  height: 20%;
  transition: height 0.5s ease;
  justify-content: center;
  

}

.signupcard{
  margin-top: 20px;
  background-color: #F35656;
  color: #662424;
  height: 100%;
  
}
.infocard{
  width: calc(100%-20px);
  margin: 20px;
  float: left;
  background-color: #57575700;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

.loginform{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.divfixed {
  position: absolute;
  top: 7%;
  text-align: center;
}

.signupform{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.login-text-field{
  color: #89f0a3;
  margin: 50px;
  width: inherit;
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: solid;
}
.login-text-field:focus{
  color: #94ffae;
  margin: 50px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: solid;

  box-shadow: none;
  outline: none;
}
.login-button{
  border: solid;
  border-color: #94ffae;
  padding: 15px 20px;
  font-size: 20px;
  border-radius: 10px;
}
.login-text-field::placeholder{
  color: #84ef9e;
}
.login-button:hover{
  border: solid;
  border-color: #94ffae;

  border-radius: 10px;
  background-color: #94ffaf2f;
  transition: font-size 1.0 ease;
  cursor: pointer;

}

.signup-text-field{
  color: #f7adad;
  margin: 50px;
  width: inherit;
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: solid;
}
.signup-text-field:focus{
  color: #f7adad;
  margin: 50px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: solid;

  box-shadow: none;
  outline: none;
}
.signup-button{
  border: solid;
  border-color: #f7adad;
  padding: 15px 20px;
  font-size: 20px;
  border-radius: 10px;
}
.signup-text-field::placeholder{
  color: #fc7f7f;
}
.signup-button:hover{
  border: solid;
  border-color: #f7adad;
  border-radius: 10px;
  background-color: rgba(247, 173, 173, 0.367);
  transition: font-size 1.0 ease;
  cursor: pointer;
}


.stock-card-container{
    width: 100%;
    float: left;
    border-radius: 10px;
    color: #CFC354;
    height: 30%;
    display: flex;
    font-family: Spartan;
    color: black;
    margin-bottom: 20px;
}
.stock-card-lhs{
  width: 75%;
}
.stock-card-rhs{
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.card-info{
  display: flex;
  
}
.card-info-1{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  text-align: left;
  justify-content: center;
  padding-left: 20px;
}
.card-info-2{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  justify-content: center;
}
.card-ticker{
  font-size: 30px;
  padding: 20px;
  padding-bottom: 15px;
}
.letter-space{
  letter-spacing: 5px;
}

.card-button-add{
  height: 50%;
  width: 100%;
  color: white;



}
.card-button-add:hover{
  font-size: 20px;
  font-weight: 700;
  border-radius: 0 0 10px 0;
  text-shadow: 0 0 20px #5DBE74;

}
.card-button-sell{
  height: 50%;
  width: 100%;
  color: white;

}
.card-button-sell:hover{
  font-size: 20px;
  font-weight: 700;
  border-radius: 0 0 10px 0;
  text-shadow: 0 0 20px #F35656;
}
.divider-line{
  width: 2px;
  background-color: #ffffff;
}


.ScrollAreaRoot {
  width: 100%;
  height: 80vh;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 10px var(--black-a7);
  background-color: rgba(255, 255, 255, 0);
  --scrollbar-size: 10px;
}

.ScrollAreaViewport {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}


.ScrollAreaScrollbar:hover {
  background: #1D1D1D;
}
.ScrollAreaScrollbar[data-orientation='vertical'] {
  background-color: #1D1D1D;
  width: var(--scrollbar-size);
}
.ScrollAreaScrollbar[data-orientation='horizontal'] {
  flex-direction: column;
  height: var(--scrollbar-size);
}

.ScrollAreaThumb {
  flex: 1;
  background: rgb(135, 135, 135);
  border-radius: var(--scrollbar-size);
  position: relative;
}
/* increase target size for touch devices https://www.w3.org/WAI/WCAG21/Understanding/target-size.html */
.ScrollAreaThumb::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  min-width: 44px;
  min-height: 44px;
}

.ScrollAreaCorner {
  background: var(--black-a8);
}

.Text {
  color: var(--violet-11);
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
}

@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/green.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/slate.css';
@import '@radix-ui/colors/violet.css';

/* reset */
button {
  all: unset;
}

.ToastViewport {
  --viewport-padding: 25px;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: var(--viewport-padding);
  gap: 10px;
  width: 390px;
  max-width: 100vw;
  margin: 0;
  list-style: none;
  z-index: 2147483647;
  outline: none;
}

.ToastRoot {
  background-color: white;
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  padding: 15px;
  display: grid;
  grid-template-areas: 'title action' 'description action';
  grid-template-columns: auto max-content;
  column-gap: 15px;
  align-items: center;
}
.ToastRoot[data-state='open'] {
  animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.ToastRoot[data-state='closed'] {
  animation: hide 100ms ease-in;
}
.ToastRoot[data-swipe='move'] {
  transform: translateX(var(--radix-toast-swipe-move-x));
}
.ToastRoot[data-swipe='cancel'] {
  transform: translateX(0);
  transition: transform 200ms ease-out;
}
.ToastRoot[data-swipe='end'] {
  animation: swipeOut 100ms ease-out;
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
  to {
    transform: translateX(0);
  }
}

@keyframes swipeOut {
  from {
    transform: translateX(var(--radix-toast-swipe-end-x));
  }
  to {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
}

.ToastTitle {
  grid-area: title;
  margin-bottom: 5px;
  font-weight: 500;
  color: var(--slate-12);
  font-size: 15px;
}

.ToastDescription {
  grid-area: description;
  margin: 0;
  color: var(--slate-11);
  font-size: 13px;
  line-height: 1.3;
}

.ToastAction {
  grid-area: action;
}

.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-weight: 500;
}
.Button.small {
  font-size: 12px;
  padding: 0 10px;
  line-height: 25px;
  height: 25px;
}
.Button.large {
  font-size: 15px;
  padding: 0 15px;
  line-height: 35px;
  height: 35px;
}
.Button.violet {
  background-color: white;
  color: var(--violet-11);
  box-shadow: 0 2px 10px var(--black-a7);
}
.Button.violet:hover {
  background-color: var(--mauve-3);
}
.Button.violet:focus {
  box-shadow: 0 0 0 2px black;
}
.Button.green {
  background-color: var(--green-2);
  color: var(--green-11);
  box-shadow: inset 0 0 0 1px var(--green-7);
}
.Button.green:hover {
  box-shadow: inset 0 0 0 1px var(--green-8);
}
.Button.green:focus {
  box-shadow: 0 0 0 2px var(--green-8);
}

/* Media Query For Responsive Design Sm and md  */
@media only screen and (max-width:1000px) {
  .bgcontainer{
    grid-template-columns: repeat(1, 1fr);
    place-content: center;
  }
}