/* Import Google Fonts and Tailwind utilities */
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Radix UI color utilities for specific color schemes */
@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/violet.css';

/* Global body styling */
body {
    @apply leading-[normal] m-0;        /* Tailwind utility for normal line height and zero margin */
    margin: 0;
      padding: 0px 20px;
      /* display: flex;
      align-items: center;
      justify-content: center; */


      background-color: black;
      height: 100vh; /* Ensure the body takes the full height of the viewport */
  }
  *,
  ::before,
  ::after {
    border-width: 0;      /* Reset border width for all elements */
  }
.bgcontainer{

  min-width: 100%;      /* Ensure container takes the full width */
  min-height: 100%;    /* Ensure container takes the full height */
  overflow: hidden;    /* Hide overflowing content */
  background-color: rgb(0, 0, 0);  /* Black background color */
  display: grid;    /* Use grid layout */
  grid-template-columns: repeat(2, 1fr);   /* Create two equal-width columns */
}
.titlecard {
  width: calc(100%-20px);      /* Full width minus 20px margin */
  margin: 20px;
  float: left;                   /* Ensure card floats to the left */
  /* Additional styling for the card */
  background-color: #1D1D1D;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  color: #CFC354;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: calc(100vh - 40px); /* 100vh minus 20px top margin and 20px bottom margin */
  display: flex;
  flex-direction: column;             /* Stack children elements vertically */
  justify-content: center;             /* Vertically center content */
  align-items: center;                 /* Horizontally center content */
  text-align: center;                  /* Center text inside the card */
  font-size: 105px;
  font-family: Della Respira;           /* Custom font for the title card */
}
/* Styling for the login card */
.logincard {
  width: 100%;
  float: left;
  background-color: #5DBE74;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  color: #22472B;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: calc(100vh - 40px);             /* Full height minus margins */
  display: flex;
  flex-direction: column;

  align-items: center;
  text-align: center;
  font-size: 40px;
  font-family: spartan;
  height: 20%;
  transition: height 0.5s ease;       /* Smooth transition effect on height change */
  justify-content: center;
  

}

/* Sign-up card styling */
.signupcard{
  margin-top: 20px;
  background-color: #F35656;
  color: #662424;
  height: 100%;
  
}
/* Info card layout*/
.infocard{
  width: calc(100%-20px);          /* Full width minus margin */
  margin: 20px;
  float: left;
  background-color: #57575700;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: calc(100vh - 40px);          /* Full height minus margins */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}
/* Styling for login form */
.loginform{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.divfixed {
  position: absolute;
  top: 7%;
  text-align: center;
}
/* Styling for sign-up form */
.signupform{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
/* Styling for text input fields (login fields) */
.login-text-field{
  color: #89f0a3;
  margin: 50px;
  width: inherit;       /* Full width of the parent container */
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: solid;
}
/* Focused state for login text fields */
.login-text-field:focus{
  color: #94ffae;
  margin: 50px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: solid;

  box-shadow: none;
  outline: none;
}
.login-button{
  border: solid;
  border-color: #94ffae;
  padding: 15px 20px;
  font-size: 20px;
  border-radius: 10px;     /* No outline on focus */
}
/* Placeholder text styling for login text fields */
.login-text-field::placeholder{
  color: #84ef9e;
}
.login-button:hover{
  border: solid;
  border-color: #94ffae;

  border-radius: 10px;
  background-color: #94ffaf2f;
  transition: font-size 1.0 ease;   /* Smooth transition for font size */
  cursor: pointer;
}
/* Styling for sign-up text fields (similar to login fields) */
.signup-text-field{
  color: #f7adad;
  margin: 50px;
  width: inherit;    /* Full width of the parent container */
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: solid;
}
/* Focused state for sign-up text fields */
.signup-text-field:focus{
  color: #f7adad;
  margin: 50px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: solid;

  box-shadow: none;
  outline: none;
}
/* Styling for sign-up button */
.signup-button{
  border: solid;
  border-color: #f7adad;
  padding: 15px 20px;
  font-size: 20px;
  border-radius: 10px;
}
.signup-text-field::placeholder{
  color: #fc7f7f;
}
/* Hover effect for sign-up button */
.signup-button:hover{
  border: solid;
  border-color: #f7adad;
  border-radius: 10px;
  background-color: rgba(247, 173, 173, 0.367);
  transition: font-size 1.0 ease;
  cursor: pointer;
}

/* Styling for stock cards */
.stock-card-container{
    width: 100%;
    float: left;
    border-radius: 10px;
    color: #CFC354;
    height: 30%;
    display: flex;
    font-family: Spartan;
    color: black;
    margin-bottom: 20px;
}
/* Left side of the stock card */
.stock-card-lhs{
  width: 75%;
}
/* side side of the stock card */
.stock-card-rhs{
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.card-info{
  display: flex;
  
}
.card-info-1{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  text-align: left;
  justify-content: center;
  padding-left: 20px;
}
.card-info-2{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  justify-content: center;
}
.card-ticker{
  font-size: 30px;
  padding: 20px;
  padding-bottom: 15px;
}
.letter-space{
  letter-spacing: 5px;     /* Add letter spacing */
}

.card-button-add{
  height: 50%;
  width: 100%;
  color: white;



}
.card-button-add:hover{
  font-size: 20px;
  font-weight: 700;
  border-radius: 0 0 10px 0;
  text-shadow: 0 0 20px #5DBE74;

}
/* Button for selling stock (in the card) */
.card-button-sell{
  height: 50%;
  width: 100%;
  color: white;

}
.card-button-sell:hover{
  font-size: 20px;
  font-weight: 700;
  border-radius: 0 0 10px 0;
  text-shadow: 0 0 20px #F35656;
}
/* Divider line between card sections */
.divider-line{
  width: 2px;
  background-color: #ffffff;
}

/* Scroll area styling (for scrollable content) */
.ScrollAreaRoot {
  width: 100%;
  height: 80vh;
  border-radius: 4px;
  overflow: hidden;   /* Hide overflow */
  box-shadow: 0 2px 10px var(--black-a7);   /* Shadow effect */
  background-color: rgba(255, 255, 255, 0);
  --scrollbar-size: 10px;  /* Custom scrollbar size */
}
/* Viewport within scrollable area */
.ScrollAreaViewport {
  width: 100%;
  height: 100%;
  border-radius: inherit;      /* Inherit border radius */
}


.ScrollAreaScrollbar:hover {
  background: #1D1D1D;
}
/* Styling for the vertical scrollbar */
.ScrollAreaScrollbar[data-orientation='vertical'] {
  background-color: #1D1D1D;
  width: var(--scrollbar-size);   /* Custom scrollbar width */
}
/* Styling for the horizontal scrollbar */
.ScrollAreaScrollbar[data-orientation='horizontal'] {
  flex-direction: column;
  height: var(--scrollbar-size);  /* Custom scrollbar height */
}

/* Thumb (draggable part of the scrollbar) */
.ScrollAreaThumb {
  flex: 1;
  background: rgb(135, 135, 135);   /* Gray thumb */
  border-radius: var(--scrollbar-size);  /* Rounded corners */
  position: relative;        /*relative position*/
}
/* increase target size for touch devices https://www.w3.org/WAI/WCAG21/Understanding/target-size.html */
.ScrollAreaThumb::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);/* Center the target */
  width: 100%;
  height: 100%;
  min-width: 44px;      /* Minimum width for better touch targets */
  min-height: 44px;    /* Minimum heigth for better touch targets */
}
/* Scroll area corner */
.ScrollAreaCorner {
  background: var(--black-a8);  /* Black background for the corner */
}

.Text {
  color: var(--violet-11);
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
}

@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/green.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/slate.css';
@import '@radix-ui/colors/violet.css';

/* reset */
button {
  all: unset;
}
/* Toast notification container */
.ToastViewport {
  --viewport-padding: 25px;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: var(--viewport-padding);
  gap: 10px;
  width: 390px;
  max-width: 100vw;
  margin: 0;
  list-style: none;   /* Remove list bullets */
  z-index: 2147483647;  /* Ensure the toast is on top */
  outline: none;
}

.ToastRoot {
  background-color: white;
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  padding: 15px;
  display: grid;       /* Grid layout */
  grid-template-areas: 'title action' 'description action';   /* Define grid areas */
  grid-template-columns: auto max-content;       /* Two-column layout */
  column-gap: 15px;   /* Gap between columns */
  align-items: center;
}
/* Animation for opening and closing the toast */
.ToastRoot[data-state='open'] {
  animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);  /* Slide-in animation */
}
.ToastRoot[data-state='closed'] {
  animation: hide 100ms ease-in;    /* Fade-out animation */
}
.ToastRoot[data-swipe='move'] {
  transform: translateX(var(--radix-toast-swipe-move-x));   /* Swipe move */
}
.ToastRoot[data-swipe='cancel'] {
  transform: translateX(0);      /* Reset swipe on cancel */
  transition: transform 200ms ease-out;   /* Smooth transition */
}
.ToastRoot[data-swipe='end'] {
  animation: swipeOut 100ms ease-out;   /* Swipe-out animation */
}

/* Keyframes for hide, slideIn, and swipeOut animations */
@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
  to {
    transform: translateX(0);
  }
}

@keyframes swipeOut {
  from {
    transform: translateX(var(--radix-toast-swipe-end-x));
  }
  to {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
}

.ToastTitle {
  grid-area: title;
  margin-bottom: 5px;
  font-weight: 500;
  color: var(--slate-12);  /* Slate color */
  font-size: 15px;
}

.ToastDescription {
  grid-area: description;    /* Position in grid */
  margin: 0;   /* Remove margin */
  color: var(--slate-11);
  font-size: 13px;
  line-height: 1.3;
}
/* Action button in toast notification */
.ToastAction {
  grid-area: action;
}

.Button {
  display: inline-flex;   /* Inline flexbox for buttons */
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-weight: 500;
}
.Button.small {
  font-size: 12px;
  padding: 0 10px;
  line-height: 25px;
  height: 25px;
}
.Button.large {
  font-size: 15px;
  padding: 0 15px;
  line-height: 35px;
  height: 35px;
}
.Button.violet {
  background-color: white;
  color: var(--violet-11);
  box-shadow: 0 2px 10px var(--black-a7);
}
.Button.violet:hover {
  background-color: var(--mauve-3);  /* Light mauve on hover */
}
.Button.violet:focus {
  box-shadow: 0 0 0 2px black;
}
.Button.green {
  background-color: var(--green-2);
  color: var(--green-11);
  box-shadow: inset 0 0 0 1px var(--green-7);   /* Inner shadow */
}
.Button.green:hover {
  box-shadow: inset 0 0 0 1px var(--green-8);
}
.Button.green:focus {
  box-shadow: 0 0 0 2px var(--green-8);
}

/* Media Query For Responsive Design Sm and md  */
@media only screen and (max-width:1000px) {
  .bgcontainer{
    grid-template-columns: repeat(1, 1fr);
    place-content: center;
  }
}
@layer base {
  :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;
        --primary: 0 0% 9%;
        --primary-foreground: 0 0% 98%;
        --secondary: 0 0% 96.1%;
        --secondary-foreground: 0 0% 9%;
        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;
        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --ring: 0 0% 3.9%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0.5rem;
    }
  .dark {
        --background: 0 0% 3.9%;
        --foreground: 0 0% 98%;
        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 0 0% 9%;
        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;
        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 0 0% 83.1%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}
@layer base {
  * {
    @apply border-border;
    }
  body {
    @apply bg-background text-foreground;
    }
}